{% include 'head.html' %}
<header>
    <div class="container">
        <div class="column">
            <h1>{{ status_code }}</h1>
            <h3>{{ name }}</h3>
        </div>
    </div>
</header>
<div class="error-section">
    <div class="container">
        <div class="column">
            <blockquote>
                {% if exception %}
                <h4>{{ exception.name }}</h4>
                <p>{{ exception.message }}</p>
                {% else %}
                <h4>Oops!</h4>
                <p>Wordlette encountered an error while loading this page.</p>
                {% endif %}
            </blockquote>
            <a href="/" class="go-home">Return Home</a>
            {% if exception %}
        </div>
    </div>
</div>
<div class="container">
    <div class="column">
        <h4>Stacktrace</h4>
        <pre>{{ exception.stacktrace }}</pre>
        {% endif %}
    </div>
</div>
{% include "foot.html" %}
