{% include 'head.html' %}
<header>
    <div class="container">
        <div class="column">
            <h1>Setup Complete</h1>
            <h3>Wordlette is ready to use</h3>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="column column-50">
            <h4><i>Wordlette</i> is ready!</h4>
            <p>Your site is completely configured and ready to launch! You just need to press "Launch" to let everyone
                access your site.</p>
            <a href="/launch" class="button setup-welcome-next">Launch</a>
        </div>
    </div>
</div>
{% include "foot.html" %}
