{% include 'head.html' %}
<header class="short">
    <div class="container">
        <div class="column">
            <h1>Setup</h1>
            {% if subtitle %}
            <h3>{{ subtitle }}</h3>
            {% endif %}
        </div>
    </div>
</header>
{% if errors %}
<div class="error-section">
    <div class="container">
        <div class="column">
            <blockquote>
                <ul>
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </blockquote>
        </div>
    </div>
</div>
{% endif %}
<div class="container">
    {{ form.render() }}
</div>
{% include "foot.html" %}
